.list-wrapper {
  width: 100%;
  flex: 1;
  overflow-y: auto;

  ::v-deep(.plugin-card-simple) {

    .options-close-btn {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &:hover {

      .options-close-btn {
        opacity: 1;
      }
    }
  }
}
