
.page-header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: .5em;
}

.user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 10px;
  padding: 10px 0;
  overflow-y: auto;
  justify-content: flex-start;

  ::v-deep(.bili-user-card) {
    width: 300px;
  }
}

.options{
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  > * {
    width: 28px;
    height: 28px;
    padding: 5px 4px 3px 4px;
    font-size: 20px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background .3s ease;

    &:hover {
      background: var(--app-color-primary-transparent-15);
    }
  }
}
